<div class="container">
  
  <form class="form-inline " role="form">
    <h1>Text Comparison Tool</h1>
  
    <div class="text-box">
      <label for="textbox1">Text Box 1:</label>
      <!-- <textarea id="textbox1" [(ngModel)]="text1" rows="4" cols="50"></textarea> -->
    </div>
  
    <div class="text-box">
      <label for="textbox2">Text Box 2:</label>
      <!-- <textarea id="textbox2" [(ngModel)]="text2" rows="4" cols="50"></textarea> -->
      
    </div>
  
    <button class="compare-button" (click)="compareText()">Compare</button>
  
    <h2>Differences:</h2>
    <div class="differences" *ngIf="differences.length > 0">
      <div *ngFor="let diff of differences">
        <span *ngIf="diff.lineNumber > 0">Difference in line {{ diff.lineNumber }}:</span>
        <span [innerHTML]="diff.formattedLine"></span>
      </div>
    </div>
  
    <div *ngIf="differences.length === 1 && differences[0].formattedLine === 'لا توجد اختلافات!'">
      {{ differences[0].formattedLine }}
    </div>
  </form>
  </div>
  